* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Space Grotesk", sans-serif;
}

body {
  background: #0c1824;
  color: whitesmoke;
}

.Main-Heading {
  font-size: 2.3rem;
  margin: 2rem 0rem;
  text-transform: uppercase;
  text-align: center;
}

#Create-Task-Container {
  background: #14293d;
  width: 70%;
  border-radius: 2rem;
  padding: 1rem;
  margin: auto;
}

.create-description input {
  width: 100%;
  background: transparent;
  outline: transparent;
  border: transparent;
  border-bottom: 1px solid #aaa;
  color: whitesmoke;
  padding: 1rem;
}

.des-heading {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  margin: 1rem 0rem;
}

#date-category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-container,
.category-container {
  width: 50%;
}

.date-container input,
.date-container select,
.category-container input,
.category-container select {
  width: 80%;
  background: transparent;
  color: whitesmoke;
  padding: 0.5rem;
  border: transparent;
  border-bottom: 1px solid #aaa;
}

.date-container select,
.category-container select {
  color: #aaa !important;
}

#button-container {
  margin: auto;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

#button-container button {
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 2rem;
  width: 30%;
  background: #1d3a57;
  color: whitesmoke;
  border: 1px solid #aaa;
}

#button-container button i {
  margin-right: 2px;
}

#Previous-Task-Container {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
}

#Previous-Task-Container h1 {
  text-align: center;
}

.todo-list-container ul {
  list-style: none;
}

.todo-list-container .todo-item {
  background: #14293d;
  padding: 1rem;
  margin: 0.3rem 0rem;
  min-height: 3rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

.details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  text-align: center;
}

.description-container {
  font-size: 1.5rem;
  width: 30%;
}

.list-date {
  width: 30%;
}

.list-category {
  width: 20%;
}

.due-date,
.list-category-des {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.todo-item button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: #1d3a57;
  color: #aaa;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
}
/*# sourceMappingURL=home.css.map */